/* Your Existing Styles */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #F8F9FA;
    /* We'll refine this for dark mode */
    border-bottom: 1px solid #DDD;
    transition: background-color 0.5s ease, border-color 0.5s ease;
}

#logo {
    height: 40px;
}

#title {
    font-size: 20px;
    margin: 0;
    transition: color 0.5s ease;
}

#info-row {
    background-color: #F0F0F0;
    /* We'll refine this for dark mode */
    padding: 15px;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}

#info-row span {
    margin-right: 10px;
}

#content {
    flex: 1;
    padding: 10px;
}

.theme-switch-container {
    display: flex;
    margin-left: auto;
    vertical-align: middle;
    float: right;
}

/* Optional: Customize the switch itself */
.theme-switch input[type="checkbox"]+label::before {
    background-color: #343a40;
}

/* Material Design Additions */
body {
    font-family: Roboto, sans-serif;
    background-color: #FAFAFA;
    color: #212121;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-mode {
    background-color: #121212;
    color: #f0f0f0;
}

body.dark-mode #info-row {
    background-color: #212529;
    color: #ccc;
    border-color: #333;
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}

body.dark-mode #header {
    background-color: #212529;
    border-color: #333;
    transition: background-color 0.5s ease, border-color 0.5s ease;
}

body.dark-mode #title {
    /* Add dark-mode styling for the title */
    color: #e0e0e0;
    transition: color 0.5s ease;
}

body.dark-mode .material-button {
    background-color: #7C4DFF;
    transition: background-color 0.3s ease;
    /* Adjust for Dark Mode */
}

body.dark-mode .material-button:hover {
    background-color: #512DA8;
    /* Adjust for Dark Mode */
}

.custom-upload {
    width: 25%;
    height: 40px;
    line-height: 40px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 1px;
    text-align: center;
    float: left;
}

.custom-upload.dark-mode {
    background-color: #222;
    color: white;
}